@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-red: #c52835;
    --white: #FFFFFF;
    --grey :#181818;
    --light-grey: #1E1E1E;
    --light-red: #EF4040;
    --darker-white: #D7DADD;
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--darker-white);
    height: 100vh;
}

.container {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    height: 20%;
}

.nav-logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

.heading::after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--light-red);
    position: relative;
    bottom: 30px
    /* width: 100px; */
}

.heading {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--light-red)
}

.list {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
}

.list-items {
    list-style: none;
}

.click {
    text-decoration: none;
    color: var(--darker-white);
}

.click:hover {
    color: var(--light-red);
}


.section2 {
    background-color: var(--grey);
    height: 70%;
    font-family: 'Courier New', Courier, monospace;
}

.header-card {
    width: 78%;
    margin: 0 auto;
    background-color: var(--grey);
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    width: 400px;
}

.header-title {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 500;
}

.name {
    font-size: 70px;
    color: var(--light-red);
    font-family: 'Merriweather';
    font-weight: 600;

}

.border {
    font-size: 50px;
    color: var(--grey);
    color: var(--light-red);
    font-family: 'Merriweather';
    font-weight: 600;

}

.small {
    font-size: 30px;
    position: relative;
    bottom: 15px;
    right: 10px;
}

.header-descr {
    font-size: 20px;
}

footer{
    background-color: var(--light-grey);
    height: 10%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    width: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social a {
    width: 50px;
    height: 50px;
    background-color: var(--grey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-icon {
    width: 20px;
    filter: invert(36%) sepia(90%) saturate(3454%) hue-rotate(335deg) brightness(94%) contrast(106%); 
}

#s2 {
    width: 13px;
}

#s4 {
    width: 25px;
}